.container__footer {
  @include respond-to(large) {
    padding-left: 57px;
    padding-right: 57px;
  }
}

.footer--about {
  @include clearfix;
  position: relative;
  // z-index: 1;
  padding: 50px 20px 60px 20px;
  background: $tan url(../img/bg-texture_header.jpg) repeat-x center top;
  overflow: hidden;

  @include respond-to(large) {
    padding-left: 0;
    padding-right: 0;
  }
}

.footer--content {
  padding: 40px 20px;
  color: $white;

  @include respond-to(small) {
    padding-top: 86px;
  }
  @include respond-to(large) {
    padding-left: 0;
    padding-right: 0;
  }
}

.logo--og__footer {
  @include background-image-retina('../img/og-logo-larger', png, 280px, 114px);
  width: 280px;
  height: 114px;
  margin: 0 auto;
  background-repeat: no-repeat;
  background-size: cover;
  text-indent: em(-9999px);
  white-space: nowrap;
  overflow: hidden;

  // @media screen and (min-width: 480px) {
  //   @include background-image-retina('../img/og-logo-larger', png, 400px, 171px);
  //   width: 400px;
  //   height: 171px;
  // }

  @media screen and (min-width: 800px) {
    @include background-image-retina('../img/og-logo-larger', png, 320px, 130px);
    width: 320px;
    height: 130px;
    float: left;
  }

  @include respond-to(medium) {
    @include background-image-retina('../img/og-logo-larger', png, 402px, 163px);
    width: 402px;
    height: 163px;
  }
}

.footer--about__copy {
  padding: 0 5%;
  margin-top: 30px;
  margin-bottom: 0;

  @media screen and (min-width: 568px) {
    padding: 0 10%;
  }

  @media screen and (min-width: 800px) {
    float: right;
    max-width: 400px;
    padding: 0;
  }

  @include respond-to(medium) {
    max-width: 471px;
  }

}

.logo--ocf {
  @include background-image-retina('../img/ocf-logo-white', png, 318px, 110px);
  width: 318px;
  height: 110px;
  margin-left: auto;
  margin-right: auto;

  @media screen and (max-width: 599px) {
    margin-bottom: 40px;
  }

  @media screen and (min-width: 600px) {
    float: left;
  }
}

.social__footer {

  @media screen and (min-width: 600px) {
    float: right;
    max-width: 400px;
  }

  @include respond-to(medium) {
    width: 522px;
    max-width: none;
  }

  a {
    width: 100%;
    margin-bottom: 10px;

    @include respond-to(medium) {
      float: left;
      width: 49%;
      margin-left: 2%;
    }

    &:first-child {
      margin-left: 0;
    }
  }
}

.footer--address,
.footer--copyright {
  @include body-copy-size(15px, 24px);
  margin: 0;
  text-align: center;

  @include respond-to(small) {
    text-align: left;
  }
}

.footer--copyright {
  a {
    @include transition(text-decoration 0.2s);
    display: inline-block;
    margin-left: 10px;
    color: $white;

    &:hover {
      text-decoration: none;
    }
  }
}

/**
 * $CIRCLES
 */
.circles--footer {
  position: absolute;
  // z-index: -1;
  top: 0;
  left: 50%;
  margin-left: -800px;
  width: 1600px;
  height: 100%;

  @include respond-to(mobile) {
    display: none;
  }
}
