.container__footer {
  @include respond-to(large) {
    padding-left: 57px;
    padding-right: 57px;
  }
}

.footer--about {
  @include clearfix;
  padding: 50px 20px 60px 20px;
  background: $tan url(../img/bg-texture_header.jpg) repeat-x center top;
  overflow: hidden;

  @include respond-to(large) {
    padding-left: 0;
    padding-right: 0;
  }
}

.footer--content {
  padding: 86px 20px 20px 20px;
  color: $white;

  @include respond-to(large) {
    padding-left: 0;
    padding-right: 0;
  }

  p{
    @include body-copy-size(15px, 24px);
    margin: 0;

    a {
      @include transition(text-decoration 0.2s);
      display: inline-block;
      margin-left: 10px;
      color: $white;

      &:hover {
        text-decoration: none;
      }
    }
  }
}

.copy--uppercase {
  text-transform: uppercase;
}

.logo--og__footer {
  @include background-image-retina('../img/og-logo-larger', png, 400px, 171px);
  float: left;
  width: 400px;
  height: 171px;
  background-repeat: no-repeat;
  background-size: cover;
  text-indent: em(-9999px);
  white-space: nowrap;
  overflow: hidden;

}

.footer--about__copy {
  float: right;
  max-width: 471px;
  margin-top: 30px;
  margin-bottom: 0;
}

.logo--ocf {
  @include background-image-retina('../img/ocf-logo-white', png, 318px, 110px);
  float: left;
  width: 318px;
  height: 110px;
}

.social__footer {
  float: right;
  width: 522px;

  a {
    float: left;
    width: 49%;
    margin-left: 2%;

    &:first-child {
      margin-left: 0;
    }
  }
}
