#header {
  position: relative;
  padding: 10px 20px 0 20px;
  background: $tan url(../img/bg-texture_header.jpg) repeat-x center top;
  overflow: hidden;

  @include respond-to(large) {
    padding-left: 0;
    padding-right: 0;
  }
}

.wrap--header {
  // padding-top: 60px; // mobile
  position: relative;
  z-index: 1;

  // @media screen and (min-width: 481px) {
  //   padding-top: 0;
  // }
}

/**
 * $LOGO
 */
.logo--header {
  @include background-image-retina('../img/og-logo-header', png, 280px, 114px);
  display: block;
  width: 280px;
  height: 114px;
  background-repeat: no-repeat;
  background-size: cover;
  text-indent: em(-9999px);
  white-space: nowrap;
  overflow: hidden;

  @media screen and (min-width: 481px) {
    float: left;
  }

  @media screen and (min-width: 800px) {
    @include background-image-retina('../img/og-logo-header', png, 280px, 114px);
    width: 320px;
    height: 130px;
  }

  @include respond-to(medium) {
    @include background-image-retina('../img/og-logo-header', png, 376px, 153px);
    width: 376px;
    height: 153px;
    background-size: inherit;
  }
}

.logo--print {
  display: none;

  @media print {
    display: block;
  }
}

/**
 * $CIRCLES
 */
.circles--header {
  position: absolute;
  top: 0;
  left: 50%;
  margin-left: -800px;
  width: 1600px;
  height: 100%;
}
