#header {
  position: relative;
  padding-top: 10px;
  background: $tan url(../img/bg-texture_header.jpg) repeat-x center top;
  overflow: hidden;
}

.wrap--header {
  position: relative;
  z-index: 1;
}
/**
 * $LOGO
 */
.logo--header {
  @include background-image-retina('../img/og-logo-header', png, 32px, 29px);
  float: left;
  width: 376px;
  height: 153px;
  text-indent: em(-9999px);
  white-space: nowrap;
  overflow: hidden;
}

.logo--print {
  display: none;

  @media print {
    display: block;
  }
}

// NOTE: Works for now but come back for RWD
.background-circles {
  position: absolute;
  margin: auto;
  top: 0; left: 0; bottom: 0; right: 0;
  width: 1600px;
  height: 100%;
}
