body {
  background-color: $purple
}

#main {
  background-color: $light-blue-teal;
  padding: 30px 20px;

  @include respond-to(medium) {
    padding-top: 60px;
    padding-bottom: 60px;
  }
}

.page--basic > .main-content {
  background-color: $white;
  padding: 20px;

  @include respond-to(large) {
    padding: 70px;
  }
}

.container {
  @include clearfix;
  position: relative;
  max-width: 1140px;
  margin: 0 auto;
}


// For temporary sample content & code
.sample {
  margin: em(60px) 0;
}
