body {
  background-color: $purple;
  position: static;
}

#main {
  background-color: $light-blue-teal;
  padding: 20px 10px;

  @include respond-to(medium) {
    padding: 30px 20px;
  }
  @media screen and (min-width: 1141px) {
    padding: 60px 0;
    // padding: 60px;
  }

  .home & {
    background-color: $white;
    padding: 0;
  }
}

.page--basic > .main-content {
  background-color: $white;
  padding: 20px;

  @include respond-to(large) {
    padding: 70px;
  }
}

.wrapper {
  @include clearfix;
  position: relative;
  max-width: 1140px;
  margin: 0 auto;
}


// For temporary sample content & code
.sample {
  margin: em(60px) 0;
}
