.sponsors {
  padding: 30px 20px;
  text-align: center;

  @include respond-to(small) {
    padding: 110px 0;
  }

  img {
    display: inline-block;
    margin: rem(32px) 0 rem(64px);
  }

  .subhead:last-child {
    margin-bottom: 0;

    > img {
      margin-bottom: 0;
    }
  }
}


.participation-sponsors {
  @include respond-to(medium) {
    float: left;
    width: 70%;

    p.subhead {
      margin-bottom: 65px;
    }
  }

}

.hourly-sponsors {
  margin-top: 60px;
  @include respond-to(medium) {
    float: left;
    margin-top: 0;
    width: 30%;

    p.subhead {
      margin-bottom: 30px;
    }
  }


}


.sub-sponsors {
  display: table;
  width: 100%;


  span {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    @include respond-to(mobile) {
      display: block;
      margin-bottom: 60px;
    }
  }

  img {
    margin: 0 20px;

    .hourly-sponsors & {
      max-width: 60%;
    }
  }
}

.info-why {
  padding: 80px 20px;
  background: $tan url(../img/bg-texture_header.jpg) center top;
  text-align: center;

  h4 {
    padding: 0 6%;
    line-height: rem(48px);

    @include respond-to(small) {
      padding: 0 14%;
    }
  }

  .button--large {
    margin: 20px 0;
  }

}

.info-what {
  padding: 80px 30px;
  background: url(../img/og-photodrop.jpg) repeat center top;
  // background-repeat: repeat-x;
  // background-position: 0 0;

  @include respond-to(mobile) {
    // background-position: center center;
    background-size: cover;
  }

  @include respond-to(small) {
    padding: 90px 30px;
  }

  p {
    margin: auto;
    max-width: 730px;
    font-size: em(28px);
    line-height: rem(42px);
    font-weight: 300;
    text-align: center;
    color: $white;

    @media screen and (max-width: 360px) {
      font-size: em(21px);
      line-height: rem(36px);
    }

    @include respond-to(small) {
      font-size: em(32px);
      line-height: rem(48px);
    }

    @include respond-to(medium) {
      font-size: em(36px);
      line-height: rem(48px);
    }
  }
}

.column {
  @include span(4 of 12);
  margin-top: 30px;
  margin-bottom: 30px;
  padding: 0 57px;

  @include respond-to(mobile) {
    @include span(1 of 1);
    padding: 0 10%;
    margin: 10px 0;
  }

  @include respond-to(small) {
    padding: 0 26px;
  }

  @media (min-width: 1040px) {
    min-height: 240px;
  }

  @media (min-width: 1140px) {
    padding: 0 13px;
    min-height: 0;
  }
  img {
    display: inline-block;

  }

  &.last {
    margin-right: 0;
  }

  .h5 {
    margin-top: rem(32px);
    margin-bottom: rem(16px);
  }
}

.button--inline {
  display: inline-block;
}

