
body {
  background-color: $purple
}

#main {
  background-color: $light-blue-teal;

  @include respond-to(medium) {
    padding-top: 60px;
    padding-bottom: 60px;
  }
}

.page--basic > .main-content {
  background-color: $white;
}

// INITIAL TESTING
.cream-bg {
  background: $tan;
}

.container {
  @include clearfix;
  max-width: 1140px;
  margin: 0 auto;
}

.column-half {
  @include span(6);

  &:last-child {
    @include omega;
  }
}

.column-thirds {
  @include span(4);

  &:last-child {
    @include omega;
  }
}

