.btn {
  @include transition(background-color 0.2s);
  display: block;
  padding: 16px;
  background-color: $turquoise;
  border-radius: 5px;
  line-height: 1;
  text-transform: uppercase;
  text-align: center;
  text-decoration: none;
  color: $white;
  cursor: pointer;
  overflow: hidden;

  &:hover {
    background-color: $dark_turquoise;
  }

  &:active,
  .active {
    background-color: $light_turquoise;
  }
}

/**
 * $LARGE
 */
.btn--large {
  padding: 20px 30px;
  font-size: em(24px);
  letter-spacing: 2px;
  font-weight: 400;
}

/**
 * $SMALL
 */
.btn--small {
  font-size: em(16px);
}

/**
 * $RED
 */
.btn--red {
  background-color: $red;

  &:hover {
    background-color: $dark-red;
  }

  &:active,
  .active {
    background-color: $light-red;
  }
}

/**
 * $SECONDARY
 */
.btn--secondary {
  @include transition(color 0.2s);
  padding: 16px 16px 16px 42px;
  background-color: $white;
  font-size: em(18px);
  color: $blue;
  // NOTE: Adjust image nameing convention to work
  @include background-image-retina('../img/og-icon_add', png, 16px, 16px);

  &:hover {
    background-color: $dark_blue;
    color: $white;
  }

  &:active {
    background-color: $light_blue;
    color: $white;
  }
}

/**
 * $SOCIAL
 */
.btn--facebook,
.btn--twitter {
  padding: 24px 16px;
  font-size: em(20px);
  background-color: $white;
  text-decoration: none;
  text-transform: none;

}

.btn--facebook {
  color: $fb-blue;
}

.btn--twitter {
  color: $tw-blue;
}


/**
 * $MOBILE MENU
 */
.btn--mobile-menu {
  @include background-image-retina('../img/og-icon_menu', png, 24px, 24px);
  display: block;
  float: right;
  width: 48px;
  height: 48px;
  padding: 8px;
  background-color: $red;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 5px;
  text-indent: em(-9999px);
  white-space: nowrap;
  overflow: hidden;
  cursor: pointer;

  @media screen and (min-width: 800px) {
    display: none;
  }

  &:hover {
    background-color: $dark-red;
  }
}
