.button {
  @include transition(background-color 0.2s);
  display: block;
  padding: 16px;
  background-color: $turquoise;
  border-radius: 5px;
  line-height: 1;
  text-transform: uppercase;
  text-align: center;
  text-decoration: none;
  color: $white;
  cursor: pointer;
  overflow: hidden;

  &:hover {
    background-color: $dark_turquoise;
  }

  &:active,
  .active {
    background-color: $light_turquoise;
  }
}

/**
 * $LARGE
 */
.button--large {
  padding: 20px 30px;
  font-size: em(24px);
  letter-spacing: em(2px);
  font-weight: 400;
}

/**
 * $SMALL
 */
.button--small {
  font-size: em(16px);
}

/**
 * $RED
 */
.button--red {
  background-color: $red;

  &:hover {
    background-color: $dark-red;
  }

  &:active,
  .active {
    background-color: $light-red;
  }
}

/**
 * $SECONDARY
 */
.button--secondary {
  @include transition(color 0.2s, background 0.2s);
  display: inline-block;
  padding: 14px 16px 14px 42px;
  background-color: $white;
  font-size: em(18px);
  color: $blue;
  text-align: left;
  text-transform: inherit;
  background-repeat: no-repeat;
  background-position: 16px center;
  @include background-image-retina('../img/og-icon_add', png, 16px, 16px);

  &:hover {
    background-color: $dark_blue;
    color: $white;
    @include background-image-retina('../img/og-icon_addwhite', png, 16px, 16px);
  }

  &:active {
    background-color: $light_blue;
    color: $white;
  }
}

/**
 * $CART
 */
.button--cart {
  cursor: pointer;
}

/**
 * $SOCIAL
 */
.button--facebook,
.button--twitter {
  padding: 24px 16px;
  font-size: em(20px);
  background-color: $white;
  text-decoration: none;
  text-transform: none;

}

.button--facebook {
  @include transition(opacity 0.2s);
  color: $fb-blue;

  &:hover {
    @include opacity(0.85);
    background-color: $white;
  }
  &:active {
    @include opacity(0.7);
    background-color: $white;
  }
}

.button--twitter {
  @include transition(opacity 0.2s);
  color: $tw-blue;

  &:hover {
    @include opacity(0.85);
    background-color: $white;
  }
  &:active {
    @include opacity(0.7);
    background-color: $white;
  }
}


/**
 * $MOBILE MENU
 */
.button--mobile-menu {
  @include background-image-retina('../img/og-icon_menu', png, 16px, 17px);
  display: block;
  width: 36px;
  height: 36px;
  padding: 6px;
  background-color: $red;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 5px;
  text-indent: em(-9999px);
  white-space: nowrap;

  @media screen and (min-width: 768px) {
    display: none;
  }

  .show-menu & {
    margin-left: 20px;
    margin-top: 10px;
  }

  &:hover,
  &:active {
    background-color: $red;
  }
}

.button--login {
  display: block;
  float: left;
  color: $red;
  line-height: 52px;
  text-decoration: none;
  text-transform: uppercase;
}

.button--signup {
  padding: 16px 24px;
}
