.icon--cart {
  @include background-image-retina('../img/og-icon_cart', png, 32px, 29px);
  width: 32px;
  height: 29px;
}

.icon--facebook:before,
.icon--twitter:before {
  display: inline-block;
  vertical-align: sub;
  margin-right: 7px;
}

.icon--facebook:before {
  @include background-image-retina('../img/og-icon_facebook_footer', png, 24px, 24px);
  width: 24px;
  height: 24px;
  background-repeat: no-repeat;
  content: '';
}

.icon--twitter:before {
  @include background-image-retina('../img/og-icon_twitter_footer', png, 24px, 24px);
  width: 24px;
  height: 24px;
  background-repeat: no-repeat;
  content: '';
}

/**
 * $BACKGROUND CIRCLES
 */
.icon--circles {
  position: absolute;
}

.icon--circles__header5 {
  @include background-image-retina('../img/og-circles_header5', png, 161px, 153px);
  width: 161px;
  height: 153px;
  top: 20%;
  left: 1%;

  .circles--header-home & {
    top: 30%;
    left: 80%;
  }
}

.icon--circles__header1 {
  @include background-image-retina('../img/og-circles_header1', png, 167px, 148px);
  width: 167px;
  height: 148px;
  top: 30%;
  right: 2%;

  .circles--header-home & {
    top: 35%;
    right: 81%;
  }
}

.icon--circles__header2 {
  @include background-image-retina('../img/og-circles_header2', png, 170px, 232px);
  width: 170px;
  height: 232px;
  top: 76%;
  left: 21%;
}

.icon--circles__header4 {
  @include background-image-retina('../img/og-circles_header4', png, 239px, 136px);
  width: 239px;
  height: 136px;
  top: 66%;
  left: 63%;
}

.icon--circles__footer1 {
  @include background-image-retina('../img/og-circles_footer1', png, 211px, 187px);
  width: 211px;
  height: 187px;
  top: -10%;
  left: 2%;
}

.icon--circles__footer2 {
  @include background-image-retina('../img/og-circles_footer2', png, 162px, 154px);
  width: 162px;
  height: 154px;
  top: 80%;
  left: 40%;
}

.icon--circles__footer3 {
  @include background-image-retina('../img/og-circles_footer3', png, 179px, 210px);
  width: 179px;
  height: 210px;
  top: 30%;
  right: 2%;
}

.icon--banner {
  @include background-image-retina('../img/og-banner_letsgivetogether', png, 583px, 116px);
  width: 583px;
  height: 116px;
  overflow: hidden;
  text-indent: em(-9999px);
  margin-left: auto;
  margin-right: auto;

  @media screen and (max-width: 639px) {
    @include background-image-retina('../img/og-banner_letsgivetogether', png, 480px, 96px);
    width: 480px;
    height: 96px;
  }
  @media (max-width: 479px) {
    @include background-image-retina('../img/og-banner_letsgivetogether', png, 360px, 72px);
    width: 360px;
    height: 72px;
  }
  @media (max-width: 375px) {
    @include background-image-retina('../img/og-banner_letsgivetogether', png, 330px, 66px);
    width: 330px;
    height: 66px;
  }
  @media (max-width: 360px) {
    @include background-image-retina('../img/og-banner_letsgivetogether', png, 280px, 56px);
    width: 280px;
    height: 56px;
  }
}
