/**
 * $NAVIGATION
 */
nav > ul,
.nav > ul, {
  list-style: none;
  padding: 0;
  margin: 0;
}

.nav {
  font-size: em(24px);
  line-height: 1;
  color: $red;

  .nav__item {
    display: inline-block;
    margin-left: 20px;

    &:first-child {
      margin-left: 0;
    }
  }
}

.nav__item {
  @include transition(color 0.2s);
  color: $red;
  text-decoration: none;

  &:hover {
    color: $turquoise;
  }

  a {
    @include transition(color 0.2s);
    text-decoration: none;
    color: $red;

    &:hover {
      color: $turquoise;
    }

    .nav__footer & {
      color: $white;
    }
  }
}

/**
 * $MAIN MENU
 */
#main-nav {
  @include transition(background-color 0.2s, width 0.2s, height 0.2s, position 0.2s);
  position: absolute;
  left: 0;
  top: 0;

  @media screen and (min-width: 768px) {
    position: relative;
    float: right;
    margin-top: 80px;
  }

  @media screen and (min-width: 800px) {
    margin-top: 110px;
  }

  &.show-menu {
    position: fixed;
    z-index: 10000;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background-color: $red;

    a {
      display: block;
      width: 100%;
      color: $white;
      padding: 10px 0 10px 48px;
    }
  }
}

.menu--main-menu {
  @media screen and (max-width: 767px) {
    @include transition(left 0.2s);
    position: relative;
    width: 0;
    height: 0;
    left: -210%;
    overflow: hidden;

    .show-menu & {
      width: inherit;
      height: inherit;
    }

    > .nav__item {
      display: block;
      margin: 0;
    }
  }

  .show-menu & {
    left: 0;
  }
}

/**
 * $CART NAVIGATION
 */
.nav--cart {
  position: absolute;
  right: 0;
  top: 0;
  font-size: em(32px); // NOTE: Try changing size for mobile.
  line-height: rem(29px);
  letter-spacing: 2px;
  text-align: right;
  color: $orange;

  @media screen and (min-width: 768px) {
    margin-top: 20px;
    font-size: em(42px);
  }

  > .nav__item {
    color: $orange;
    margin: 0;
  }
}

/**
 * $FOOTER NAVIGATION
 */
.nav__footer {
  margin: 40px 0 20px 0;
  text-align: center;

  @include respond-to(small) {
    margin-top: 105px;
    text-align: left;
  }

  .nav__item {
    margin-bottom: 20px;
  }

  a {
    @include transition(border 0.2s);

    &:hover {
      border-bottom: 1px solid $white;
    }
  }
}

/**
 * $USER NAVIGATION
 */
#user-nav {
  position: absolute;
  z-index: 100;
  right: 0;
  top: 10px;
  font-size: em(16px);
}

.menu-signup {
  float: left;
  margin-left: 24px;

  > li {
    // display: inline-block;
    float: left;
    line-height: 1;

    &:first-child {
      margin-right: 16px;
    }
  }
}

.menu-signup--submenu {
  margin: 0;
  display: none;
  list-style: none;

  .button--small {
    padding-top: 12px;
    padding-bottom: 12px;
  }

  li:first-child {
    margin-bottom: 8px;
  }
}

.menu-signup--active {

  .button--signup {
    display: block;
    border-top: 4px solid rgba($lighter_gray, 0.2);
    border-left: 4px solid rgba($lighter_gray, 0.2);
    border-right: 4px solid rgba($lighter_gray, 0.2);
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
    border-top-right-radius: 8px;
    border-top-left-radius: 8px;
    background-color: $white;
    color: $red;
  }

  .menu-signup--submenu {
    position: absolute;
    z-index: -1;
    right: 0;
    margin-top: -4px;
    display: block;
    padding: 24px;
    background-color: $white;
    border-bottom-right-radius: 8px;
    border-bottom-left-radius: 8px;
    border-top-right-radius: 0;
    border-top-left-radius: 8px;
    border-top: 4px solid rgba($lighter_gray, 0.2);
    border-left: 4px solid rgba($lighter_gray, 0.2);
    border-right: 4px solid rgba($lighter_gray, 0.2);
    border-bottom: 4px solid rgba($lighter_gray, 0.2);

  }
}
