html {
  background-color: #eee;
}

body {
  padding: 0;
  margin: 0;
}

h1 {
  float: left;
  margin: 0;
}
.global-nav {
  @include clearfix;
  border-top: 1em solid #7ed21d;
  // position: fixed;
  // width: 100%;
  z-index: 1000;
  padding: 2em;
  border-bottom: 1px solid #7ed21d;
  background-color: #fff;
  max-height: 60px;
  h1 {
    font-size: 1.8em;
  }
}

form {
  float: right;
}

main {
  margin-left: 6%;
  margin-right: 6%;
  padding-top: 80px;
  background-color: #fff;
}

.pattern {
    clear: both;
    overflow: hidden;
    padding: 0 2em;
    margin-bottom: 3em;
}
.pattern .display {
    // width: 65%;
    // float: left;
}
.pattern .source {
    // width: 30%;
    // float: right;
}
// .pattern .source textarea {
//     width: 90%;
// }
